.artikel-wrapper {
    /* float: left; */
    /* width: 30%; */
    width: 33.3%;
    /* margin-bottom: 48px; */
}

.artikel {
    margin: auto;
    height: auto;
    width: 400px;
    border-radius: 24px;
    background-color: #ffffff;
    box-shadow: 2px 2px 20px 0px #00000040;
    padding: 24px;
    cursor: pointer;
}

.gambar-artikel {
    width: 100%;
}

.judul-artikel {
font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 34px;
margin-top: 10px;
}

.author {
    font-family: 'Nunito';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 20px;
display: flex;
align-items: center;
color: black;
/* margin-top: -20px; */
}