body{
    margin: 0;
}
.banner {
    width: 100%;
height: 432px;
}
.kategori-wrapper{
    padding: 25px;
}
.kategori {
    display: flex;
    /* margin: 0px 24px 0px 24px; */
    cursor: grab;
    overflow-x: scroll;
    padding: 25px 0;
    padding-left: 24px;
}
.kategori::-webkit-scrollbar {
    display: none;
  }

.cattegories {
    width: fit-content; 
    height: 180px;
    background-color: #ffffff;
    border-radius: 24px;
    box-shadow: 2px 2px 20px 0px #00000040;
    margin-right: 24px;
    padding: 24px;
    cursor: pointer;
}

.tulisan {
    font-family: 'Nunito';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
align-items: center;
color: #000000;
text-decoration: none;
}

h2 {
    margin-top: 72px;
    margin-left: 24px;
}

.text {
    display : flex;
    justify-content: space-between;
    margin-right: 34px;
}

a {
    text-decoration: none;
}


.makanan-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
