form {
    width: 576px;
    height: 600px;
    margin-left: 372px;
    margin-top: 16px;
    background: #FFFFFF;
    box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.25);
    border-radius: 48px;
    }
        
p{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    display: flex;
    align-items: center;
    color: #000000;
    padding-left: 48px;
    }

    .masuk {
        padding-top: 28px;
        padding-left: 48px;
        position: static;
        font-family: 'Nunito';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 49px;
    display: flex;
    align-items: center;
    color: #000000;
    }

    .kolom {
        box-sizing: border-box;
        position: relative;
    width: 480px;
    height: 38px;
    margin-top : -16px;
    margin-bottom: 10px;
    margin-left: 48px;
    padding-left :24px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    border-radius: 48px;
    }

    .submit {
        width: 480px;
        height: 48px;
        margin-left: 48px;
        margin-top: 40px;
        background: #7E8661;
        border-radius: 48px;
        color: white;
        border: none;
        font-size: 16px;
        letter-spacing: 1.5px;
        cursor: pointer;
        }
        
        .login {
            padding-left: 210px;
            padding-top: 10px;
            color :#FFFFFF;
            margin-bottom: 0px;
        }

        .kembali {
            width: 480px;
            height: 48px;
            margin-left: 48px;
            background: #FFFFFF;
            border: 0.6px solid #7E8661;
            border-radius: 48px;
            margin-top: 20px;
            display: flex;
            cursor: pointer;
            }
            
    .back {
        margin: auto;
        padding-left: 0;
        font-size: 16px;
        /* padding-left: 200px; */
        }
    
.tidakpunya {
    font-weight: 400;
    font-size: 16px;
    display: block;
    text-align: center;
    padding-left: 0;
            }
            
.tidakpunya span{
    margin-left: 5px;
    cursor: pointer;
}

            footer {
                width: 1920px;
                height: 72px;
                left: 0px;
                top: 1153px;
                background: #FFFFFF;
                box-shadow: 0px -1px 0px #DEDEDE;
                }
                
                .footer {
                    padding-top: 30px;
                    font-weight: 400;
                    padding-left: 500px;
                }

.forget {
    font-weight: 400;
    font-size: 16px;
    margin-left : 190px;
    margin-top: 40px;
    color : #FFAB65;
    text-decoration: underline;  
    cursor: pointer;
}

       
        
