form {
width: 576px;
height: 730px;
margin-left: 372px;
margin-top: 16px;
background: #FFFFFF;
box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.25);
border-radius: 48px;
}

p{
font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 27px;
display: flex;
align-items: center;
color: #000000;
padding-left: 48px;
}

.daftar {
    padding-top: 28px;
    padding-left: 48px;
    position: static;
    font-family: 'Nunito';
font-style: normal;
font-weight: 900;
font-size: 36px;
line-height: 49px;
display: flex;
align-items: center;
color: #000000;
}

.kolom {
    box-sizing: border-box;
    position: relative;
width: 480px;
height: 38px;
margin-top : -16px;
margin-bottom: 10px;
margin-left: 48px;
padding-left :24px;
background: #FFFFFF;
border: 1px solid #C4C4C4;
border-radius: 48px;
}

.kebijakan {
    font-weight: 400;
    font-size: 16px;
    padding-left: 78px; 
    margin-bottom: 30px;   
}

.checkbox {
    margin-left: 48px;
    margin-top: 10px;
}

.submit {
width: 480px;
height: 48px;
margin-left: 48px;
background: #7E8661;
border-radius: 48px;
color: white;
border: none;
font-size: 16px;
letter-spacing: 1.5px;
cursor: pointer;
}

.regist {
    padding-left: 210px;
    padding-top: 10px;
    color :#FFFFFF;
    margin-bottom: 0px;
}

.kembali {
width: 480px;
height: 48px;
margin-left: 48px;
background: #FFFFFF;
border: 0.6px solid #7E8661;
border-radius: 48px;
margin-top: 20px;
display: flex;
cursor: pointer;
}

.back {
    margin: auto;
    padding-left: 0;
    /* padding-left: 200px; */
}

.punya {
font-weight: 400;
font-size: 16px;
margin-left : 160px;
padding-left: 0;
}
.punya span{
    margin-left: 5px;
    cursor: pointer;
}

footer {
width: 1920px;
height: 72px;
left: 0px;
top: 1153px;
background: #FFFFFF;
box-shadow: 0px -1px 0px #DEDEDE;
}

.footer {
    padding-top: 30px;
    font-weight: 400;
    padding-left: 500px;
}