body{
    margin: 0;
}
.menu {
width: 336px;
height: 535px;
background: #FFFFFF;
box-shadow: 2px 2px 20px rgba(112, 111, 111, 0.25);
border-radius: 24px;
margin-top: 72px;
}

.user {
    display: flex;
    justify-content: space-between;
}

.profilepic {
    width: 54px;
height: 54px;
padding-top: 57px;
padding-left: 57px;
}

.text {
    padding-right: 58px;
    padding-top: 43px;
}

.kota {
    padding-top: 0px;
}

.group {
    display: flex;
    margin-top: 25px;
}

.gambar {
    width: 32px;
    height: 32px;
    padding-left: 57px;
}

.text1 {
    margin-left:16px;
    margin-top: 7px;
}

.group1 {
    display: flex;
    margin-top: 24px;
}

.menu-wrapper {
    display: flex;
}
.wishlist-content{
    display: flex;
    padding: 150px 25px 50px;
}
.wishlist-content .list-content{
    margin: 0 25px;
}
.wishlist-wrapper {
    /* width: 1224px; */
    width: 75%;
    /* height: 960px; */
    height: fit-content;
    background: #FFFFFF;
box-shadow: 2px 2px 20px rgba(112, 111, 111, 0.25);
border-radius: 24px;
/* margin-top: 72px; */
}

.wishlist-wrapper .wishlist {
    /* padding-top: 72px; */
    width: 100%;
    padding: 0 25px;
    /* border: 1px solid black; */
}

.wishlist .daftarMakanan{
    display: flex;
    flex-wrap: wrap;
    /* width: 75%; */
    justify-content: space-between;
    /* padding-left: 72px; */
}
.makanan-wrapper{
    width: 33.3%;
}
